.background {
    margin: auto;
    height: 100vh;
    background-image: linear-gradient(to bottom, rgba(255,153,153,0) 0%,rgba(255,153,153,0) 30px,rgba(10, 9, 9, 0.623) 100%), url("images/background2.gif");
    background-size: cover;
  }
  
.jumbotron-center {
    position: relative;
    top: 200px
}

.page-header-position {
    height: 24%;
    position: relative;
    top: 15px;
}

.github {
    background-image: url(images/github.svg);
    background-color: white;
}

.email {
    background-image: url(images/envelope-at.svg);
}

.instagram {
    background-image: url(images/instagram.svg);
}

.twitter {
    background-image: url(images/twitter-x.svg);
}

.linkedin {
    background-image: url(images/linkedin.svg);
}

.media-group {
    padding: 115px;
    margin: auto;
}

.img {
    background-color: #55dae643;
    border-color: #5bc0de;
    border-radius: 25px;
}

.btn.btn-info.btn-lg.btn-block {
    color: #55dae6;
    background-color: #333;
    border-color: #46b8da;
}

.btn.btn-info.btn-lg.btn-block:hover {
    color: #181717 !important; /* Change text color */
    background-color: #46b7dab4 !important; /* Change background */
    border-color: #46b8da !important;
}
footer {
    margin-top: auto;
}